@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --body-bg-color: #F9EFEF;
    --header-bg-color: #61141A;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "K2D", Arial, sans-serif;
    background-color: var(--body-bg-color);
    overflow-y: hidden;
}

header {
    display: flex;
}

.header-titulo {
    background-color: transparent;
}

/* Menu lateral */
aside {
    width: 250px;
    background-color: #e4dcdc;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main {
    position: relative;
    flex: 1;
    display: flex;
    padding: 2rem 5rem;
}

label {
    font-size: 1rem;
    align-self: self-start;
    margin-bottom: 0.3rem;
}

input {
    font-size: 0.8rem;
    padding-left: 0.5rem;
    height: 1.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid color-mix(in srgb, var(--body-bg-color) 80%, black);
    box-shadow: 2px 2px 10px color-mix(in srgb, var(--body-bg-color) 80%, black);
}

#btn-back-page {
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

/* Header */
.header-titulo {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    flex: 1;
    align-items: center;
}

.header-container {
    display: flex;
    flex: 1;
    gap: 3rem;
}

.aviso {
    text-align: center;
}

.warning {
    font-weight: 500;
    color: #C75A5A;
}

.warning.green {
    color: #5FAF79;
}

/* Layout principal */
.container {
    display: flex;
    height: calc(100vh - 100px);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.menu-section {
    position: absolute;
    top: 2rem;
    left: 5rem;
    width: 30rem;
    height: auto;
    padding: 2rem 0;
    background-color: color-mix(in srgb, var(--body-bg-color) 80%, black 10%);
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px color-mix(in srgb, var(--body-bg-color) 80%, black 50%);
    overflow: hidden;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.menu-section.active {
    opacity: 1;
    pointer-events: all;
}

.card {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.card section {
    display: flex;
    flex-direction: column;
}

.card h1 {
    color: #201e1e;
}

.card p {
    color: #3a3636;
}

.btn-confirm {
    height: 2rem;
    border-radius: 0.4rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    background-color: color-mix(in srgb, var(--body-bg-color) 40%, black);
    border: 0.1rem solid color-mix(in srgb, var(--body-bg-color) 80%, black);
    box-shadow: 2px 2px 10px color-mix(in srgb, var(--body-bg-color) 80%, black);
}

.btn-confirm:hover {
    background-color: color-mix(in srgb, var(--body-bg-color) 30%, black);
}

.btn-confirm:active {
    background-color: color-mix(in srgb, var(--body-bg-color) 20%, black);
    box-shadow: inset 0 0 10px color-mix(in srgb, var(--body-bg-color) 10%, black);
}

.menu button {
    width: 90%;
    padding: 0.8rem;
    background-color: #7a7272;
    color: white;
    border: none;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.menu button.active {
    background-color: #504b4b;
    box-shadow: inset 0 0 5px #000;
}

.menu button:hover {
    background-color: #5f5757;
}

.btn-vermelho {
    font-size: 1.2rem;
    background-color: #b90000;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 20px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 5rem;
    transition: 0.3s;
}

.btn-vermelho:hover {
    background-color: #8d0000;
}

@media (min-width: 1366px) {
    html {
        font-size: 22px;
    }

    aside {
        width: 300px;
    }
}

@media (max-width: 1366px) {
    html {
        font-size: 16px;
    }
    aside {
        width: 250px;
    }
}

@media (max-width: 1280px) {
    main {
        overflow-y: auto;
    }

    .btn-vermelho {
        margin-bottom: 3rem;
    }

    .header-titulo {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    body {
        overflow-y: auto;
    }

    header {
        height: 1rem;
        padding: 2rem ;
        background-color: var(--header-bg-color);
    }

    .header-titulo {
        font-size: 2rem;
        margin-top: 0;
        letter-spacing: 0.2rem;
    }

    main {
        position: relative;
        flex-direction: column;
        padding: 1rem;
    }

    .menu-section {
        position: relative;
        top: auto;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90%;
        height: 25rem;
        pointer-events: all;
        max-height: none;
        transition: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: none;
    }

    .menu-section.active {
        display: flex;
    }

    .container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    aside {
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        padding-bottom: 1rem;
    }

    label {
        font-size: 0.8rem;
    }

    input {
        font-size: 0.6rem;
    }

    .btn-vermelho {
        margin-bottom: 0;
        margin-right: 0.8rem;
    }

    .btn-confirm {
        font-size: 0.8rem;
        height: 2rem;
        width: 100%;
    }
}

@media (max-width: 480px), (max-width: 576px) {

    main {
        padding: 1rem 1rem;
    }

    aside {
        height: 2rem;
    }

    #btn-back-page {
        height: 20px;
        width: auto;
        transform: translateY(-25%);
    }

    .header-titulo {
        transform: translateY(-25%);
    }

    .menu {
        gap: 0.2rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu button {
        font-size: 0.8rem;
        width: 60%;
        padding: 0.3rem;
    }

    .btn-vermelho {
        font-size: 0.8rem;
        margin-right: 5rem;
        padding: 0.4rem 1rem;
    }

}

@media (max-width: 400px) {

    html {
        font-size: 10px;
    }

    label {
        font-size: 0.4rem;
    }

    input {
        font-size: 0.5rem;
        height: 1rem;
    }

    header {
        height: 2rem;
    }

    /* .header-titulo {
        font-size: 0.8rem;
    } */

    /* .header-container {
        height: 2rem;
    } */

    #btn-back-page {
        height: 20px;
        width: 20px;
    }

    .menu button {
        font-size: 0.5rem;
        width: 60%;
    }

    .menu-section {
        height: 20rem;
    }

    .card {
        gap: 1rem;
    }

    .btn-vermelho {
        font-size: 0.5rem;
        margin-bottom: 0;
        margin-right: 0.4rem;
    }

    .btn-confirm {
        font-size: 0.4rem;
        height: 1.2rem;
        width: 100%;
    }

    .menu-section {
        width: 80%;
    }
}